<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.wolox.woloxtrainingmolina" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrainingApp"
        android:allowBackup="true"
        android:icon="@drawable/topbarlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LogInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/topbarlogo"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
